@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GE SS Two Medium";
  src: url("/fonts/GE_SS_Two_Medium.otf") format("truetype");
}

/* Use it anywhere */
body {
  font-family: "GE SS Two Medium", sans-serif;
}

@media (max-width: 768px) {
  .card-item > li:nth-child(2) {
    border-block: 1px solid #a6a6a6;
    padding-block: 3.125rem;
  }
}
@media (min-width: 768px) {
  .card-item > li:nth-child(2) {
    border-inline: 1px solid #a6a6a6;
    padding-inline: 6.25rem;
  }
}
.card-item > li > img {
  margin-bottom: 2rem;
}
.card-item > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-container > li {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 3.75rem;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
  padding-block-end: 2.5rem;
  padding-inline: 3.4rem;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .card-container > li {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
  .card-container > li:first-child {
    z-index: 20;
  }
}
.before-class::before {
  content: "";
  background-image: url("src/assets/images/plus-dots 1.png");
  background-size: contain; /* or specific dimensions */
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 182px; /* specify actual dimensions needed */
  height: 63px;
  z-index: 5;
  left: 22%;
  top: 8%;
}
.after-class::after {
  content: "";
  background-image: url("src/assets/images/plus-dots 1.png");
  background-size: contain; /* or specific dimensions */
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 182px; /* specify actual dimensions needed */
  height: 63px;
  bottom: 4%;
  right: -4%;
  z-index: 5;
}
@media (max-width: 768px) {
  .before-class::before {
    height: 44px;
    width: 128px;
    left: 27px;
    bottom: 0px;
    top: 10px;
  }
  .after-class::after {
    height: 44px;
    width: 128px;
    right: -34px;
    bottom: 10px;
  }
}
.logo-animation {
  width: 15%;
}
.logo-animation > svg {
  width: 100% !important;
  height: 30% !important;
}
@media (max-width: 600px) {
  .logo-animation {
    width: 35%;
  }
  .logo-animation > svg {
    width: 100% !important;
    height: 30% !important;
  }
}
.cards-logo > li {
  flex-shrink: 0;
}
