@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GE SS Two Medium";
  src: url("/fonts/GE_SS_Two_Medium.otf") format("truetype");
}

/* Use it anywhere */
body {
  font-family: "GE SS Two Medium", sans-serif;
}

.card-item > li:nth-child(2) {
  border-inline: 1px solid #a6a6a6;
  padding-inline: 6.25rem;
}
.card-item > li > img {
  margin-bottom: 2rem;
}
